* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Public Sans', sans-serif;
    overflow-x: hidden;
}

:root {
    --cor-textos: hsl(233, 8%, 62%);
    --cor-titulos: hsl(233, 26%, 24%);
    --cor-hover: hsl(136, 65%, 51%);
}

.attribution {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    background-color: var(--cor-titulos);
    color: white;
    width: 100vw;
    padding: 1rem 0;
}

.attribution a {
    color: var(--cor-textos);
}


a:hover {
    color: var(--cor-hover);
    transition: .3s;
}

